html {
  height: 100%;
  background-color: #37063c;
  color: white; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

main {
  border-radius: 5px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: auto; }

section {
  height: 23vh; }

div {
  margin: 0; }

section.row {
  text-align: center;
  margin: 0 -15px; }

section.pitch-row {
  margin: 50px 0; }

section.bench {
  margin-top: 40%; }

div {
  overflow: auto; }

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-container > div {
  margin: 2px;
  text-align: center;
  line-height: 75px;
  font-size: 4.5vw; }

p {
  margin: 0; }
