html {
	height: 100%;
    background-color: #37003c;
    color: white;
}
body {
	display: grid;
	grid-template-rows: 1fr 0.25fr;
	height: calc(100vh - 12px);
	margin: 6px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.grid-container {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: 
		"gk"
		"def"
		"mid"
		"fwd";
}

.gk {
	grid-area: gk;
}
.def {
	grid-area: def;
}
.mid {
	grid-area: mid;
}
.fwd {
	grid-area: fwd;
}

.bench-container {
	display: grid;
	grid-template-rows: 1fr;
	border-top: 1px solid #ddd;
}

div {
	margin: 0;
}
div {
    overflow: auto;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.column {
	margin: 2px;
	text-align: center;
	flex-direction: column;
	flex-grow: 1;
}

.player {
	// width: 100px;
	font-size: 4.5vmin;
}
.points {
	// width: 100px;
	font-size: 6vmin;
}

p { 
	margin: 0;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #35363A;
    }
}
