html {
	// height: 100%;
    background-color: #37003c;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
}
body {
	display: grid;
	grid-template-rows: 1fr 0.25fr;
	height: calc(100vh - 12px);
	height: calc(var(--vh, 1vh) * 100 - 12px);
	margin: 6px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.update_area {
    display: grid;
    grid-template-rows: 1fr 0.25fr;
    height: calc(100vh - 12px);
	height: calc(var(--vh, 1vh) * 100 - 12px);
}

/*
//
// LOADING
// SCREEN
//
*/
.loadWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 12px);
	height: calc(var(--vh, 1vh) * 100 - 12px);
    background-color: #37003c;
}

.loading {
		display: flex;
    width: 20%;
    height: 10%;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.loading__anim {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid rgba(0,225,135, 0.1);
    border-left-color: #00e187;
    border-top-color: #00e187;
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
}
@keyframes rotate {
    to {
        transform: rotate(1turn)
    }
}
/*
//
//
//
//
*/
.grid-container {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: 
		"gk"
		"def"
		"mid"
		"fwd";
}

.gk {
	grid-area: gk;
}
.def {
	grid-area: def;
}
.mid {
	grid-area: mid;
}
.fwd {
	grid-area: fwd;
}

.bench-container {
	display: grid;
	grid-template-rows: 1fr;
	border-top: 1px solid #ddd;
}

div {
	margin: 0;
}
div {
    overflow: auto;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.column {
	margin: 2px;
	max-width: 198px;
	text-align: center;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	position: relative;
	z-index: 1;
}

.image {
	background-color: #fff;
	background-position: center .31rem;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 3.2rem;
	width: 3.2rem;
	margin: 0 auto .3rem;
	border-radius: 100%;
	overflow: visible;
}

.bench-image {
	filter: grayscale(1)
}

.player {
	// width: 100px;
	font-size: .68rem;
}

.player p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.points {
	// width: 100px;
	font-size: 6vmin;
}

p { 
	margin: 0;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.stp {
	margin-top: .2rem;
	font-size: 3.3vmin;
	font-weight: 300;
}

.player_btn {
	background: 0 0;
	border: 0;
	cursor: pointer;
	height: calc(100% + 6px);
	left: 0;
	margin: -6px 0 0;
	outline: none;
	position: absolute;
	top: 0;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
table {
	border-collapse: collapse;
	margin: auto;
	overflow: hidden;
	width: 100%;
}
th {
	background: #5f3363;
	font-weight: 400;
	padding: .25rem .33rem;
}
td {
	padding: .5rem .33rem;
	position: relative;
	vertical-align: top;
}
* {
	transition:background 200ms,transform 200ms,border-color 200ms;
}
.player_modal {
	display: none;
	align-content: center;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	&__wrapper {
		align-self: center;
		animation: modal 200ms;
		background: #37003c;
		border: .0625rem solid #fff;
		color: #fff;
		max-width: 430px;
		opacity: 1;
		position: absolute;
		transform: scale(1);
		width: 90%;
		border-radius: 0.2rem;
		z-index: 3;
	}
	&__bg {
		background: rgba(0,0,0,0.6);
		animation: bg-fade 200ms;
		height: 100%;
		width: 100%;
		opacity: 1;
		z-index: 2;
		transition: background 300ms,transform 300ms,border-color 300ms,
	}
	&__header {
		background: #fff;
		color: #37003c;
		padding: .65rem .75rem;
	}
	&__btn {
		background: #00e187;
		border: 0;
		box-sizing: border-box;
		cursor: pointer;
		display: block;
		height: 1.875rem;
		right: .75rem;
		outline: none;
		position: absolute;
		top: .9rem;
		width: 1.875rem;
		border-radius: 0.2rem;
		z-index: 2;
	}
	&__btn-txt {
		display: inline-block;
		text-indent: -999rem;
	}
	&__btn-icon {
		fill: #fff;
		height: 1rem;
		left: calc(50% - .5rem);
		position: absolute;
		top: calc(50% - .5rem);
		width: 1rem;
	}
	&__heading {
		margin: 0;
		padding-right: 2.5rem;
		h1 {
			font-size: 1.2rem;
			font-weight: 600;
		}
	}
	&__content {
		max-height: 84vh;
		overflow-y: auto;
	}
	&__explain {
		padding: 0rem .75rem;
	}
	&__explain:nth-child(2), &__explain:nth-child(3) {
		border-top: 1px solid #7d7d7d;
	}
	&__blank {
		font-size: 1.2rem;
		margin: 0.8rem 0;
		text-align: center;
	}
	&__fixture {
		align-items: center;
	    display: grid;
	    grid-template-columns: 1fr 5.5rem 1fr;
	    height: 3.2rem;
	    margin: 0 -0.75rem;
	    position: relative;
		.home {
		    text-align: right;
		    font-size: 0.85rem;
		    font-weight: normal;
		}
		strong {
			color: #ebff00;
		    font-size: 1.6rem;
		    font-variant-numeric: tabular-nums;
		    line-height: 1.25;
		    margin: 0 0.5rem;
		    text-align: center;
		}
		time {
			color: #d0bcd3;
			font-size: .8215rem;
			font-weight: 400;
			line-height: 1;
			margin: -0.1rem 0;
			text-align: center;
		}
		.fixture__ko-item_modal {
			display: block;
	    font-size: .8rem;
	    margin-bottom: -3px;
		}
		.away {
		    text-align: left;
		    font-size: 0.85rem;
		    font-weight: normal;
		}
		.live {
	    align-items: center;
	    color: #37003c;
	    display: flex;
	    position: absolute;
	    left: 0.7rem;
	    padding: 0 0.15rem;
	    background: #d0bcd3;
	    border-radius: 4px;
		}
		.minutes {
	    align-items: center;
	    color: #d0bcd3;
	    display: flex;
	    height: 100%;
	    position: absolute;
	    right: .7rem;
	    top: 0
		}
	}
	&__details {
		margin: 0 -.75rem;
		width: calc(100% + 1.5rem)
	}
	.align_1 {
		text-align: left;
	}
	.strong {
		font-weight: 600;
	}
	&__details-col1 {
		padding: .5rem .75rem;
	}
	&__row {
		border-top: 1px solid #5f3363;
	}
	.capitalise {
		text-transform: capitalize;
	}
	&__details-col1_offset {
		display: inline-block;
		padding-left: .42rem;
		padding-top: .2rem;
		font-size: 1.1rem;

	}
	.align_c {
		text-align: center;

	}
	&__col {
		width: 21%;
	}
	&__value {
		font-size: 1.5rem;
	}
	&__highlight {
		color: #ebff00;
		font-size: 1.5rem;
	}
	&__expected {
	    border-top: 1px solid #7d7d7d;
		align-items: center;
	    display: grid;
	    grid-template-columns: 1fr 1fr 1fr;
	    // height: 2rem;
	    position: relative;
	    padding: .2rem 0;

	    span {
	    	text-align: center;
	    	font-size: 0.8rem;
	    }
	    .ex_head {
	    	color: #a7a6a6;
	    }
	}
	&__next5 {
	    border-top: 1px solid #7d7d7d;
		align-items: center;
	    display: flex;
	    padding: .2rem 0;
	    justify-content: space-evenly;

	    span {
	    	text-align: center;
	    	font-size: 10px;
		    border-radius: 0.2rem;
		    padding: 3px 3vmin;
		    line-height: 9px;
		}

	    .diff1 {
	    	background-color: rgb(55, 85, 35);
	    	color: white;
	    	filter: brightness(75%);
	    }
	    .diff2 {
	    	background-color: rgb(1, 252, 122);
	    	color: black;
	    	filter: brightness(75%);
	    }
	    .diff3 {
	    	background-color: rgb(231, 231, 231);
	    	color: black;
	    	filter: brightness(75%);
	    }
	    .diff4 {
	    	background-color: rgb(255, 23, 81);
	    	color: white;
	    	filter: brightness(75%);
	    }
	    .diff5 {
	    	background-color: rgb(128, 7, 45);
	    	color: white;
	    	filter: brightness(90%);
	    }
	}
}

span.total_points {
	position: absolute;
	top: 1rem;
	right: 1rem;
	text-align: center;
}
span.total_points>b {
	font-size: 6vmin;
	font-style: italic;
}

span.capt, span.tripcapt {
	position: relative;
	right: -1.2rem;
	bottom: -2rem;
	border-radius: 100%;
	font-size: 10px;
}
span.capt {
	background: #37003c;
	border: 1px solid white;
	padding: 2px 5px;

}
span.tripcapt {
	background: #fff;
	border: 2px solid #37003c;
	color: #37003c;
	font-weight: bold;
	padding: 3px 3px;
}

@keyframes modal {
    0% {
        opacity: 0;
        transform: scale(.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes bg-fade {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-height: 300px) and (min-width: 500px) {
	.player {
		// width: 100px;
		font-size: 3vmin;
	}
	.points {
		// width: 100px;
		font-size: 5vmin;
	}
	.image {
		height: 3.2rem;
		width: 3.2rem;
	}
	span.capt {
		font-size: 2vmin;
		padding: 1px 5px;
	}
	span.tripcapt {
		font-size: 1.8vmin;
		padding: 3px 3px;
	}
	.stp {
		font-size: 2.3vmin;
	}
}

@media (prefers-color-scheme: dark) {
    html, .loadWrapper {
        background: #1f1f1f;
    }
    .player_modal__wrapper {
    		background: #1f1f1f;
    }
    .player_modal__header {
    		color: #1f1f1f;
    }
    .live {
	    	color: #1d1d1d !important;
		    background: #d1d1d1 !important;
    }
    time, .minutes {
	    	color: #d1d1d1 !important;
		}
    th {
    		background: #343434;
    }
    .player_modal__row {
    		border-top: 1px solid #343434;
    }
		.loading__anim {
        border: 5px solid rgba(0,225,135, 0.25);
        border-left-color: #00e187;
        border-top-color: #00e187;
    }
}
