html {
	height: 100%;
    background-color: #37003c;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
}
body {
	display: grid;
	grid-template-rows: 1fr 0.25fr;
	height: calc(100vh - 12px);
	margin: 6px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.grid-container {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: 
		"gk"
		"def"
		"mid"
		"fwd";
}

.gk {
	grid-area: gk;
}
.def {
	grid-area: def;
}
.mid {
	grid-area: mid;
}
.fwd {
	grid-area: fwd;
}

.bench-container {
	display: grid;
	grid-template-rows: 1fr;
	border-top: 1px solid #ddd;
}

div {
	margin: 0;
}
div {
    overflow: auto;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.column {
	margin: 2px;
	text-align: center;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	position: relative;
	z-index: 1;
}

.image {
	background-color: #fff;
	background-position: center .31rem;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 3.2rem;
	width: 3.2rem;
	margin: 0 auto .3rem;
	border-radius: 100%;
	overflow: visible;
}

.bench-image {
	filter: grayscale(1)
}

.player {
	// width: 100px;
	font-size: .68rem;
}

.player p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.points {
	// width: 100px;
	font-size: 6vmin;
}

.player_btn {
	background: 0 0;
	border: 0;
	cursor: pointer;
	height: calc(100% + 6px);
	left: 0;
	margin: -6px 0 0;
	outline: none;
	position: absolute;
	top: 0;
	width: 100%;
}
table {
	border-collapse: collapse;
	margin: auto;
	overflow: hidden;
	width: 100%;
}
th {
	background: #5f3363;
	font-weight: 400;
	padding: .25rem .33rem;
}
td {
	padding: .5rem .33rem;
	position: relative;
	vertical-align: top;
}
.player_modal {
	display: none;
	align-content: center;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	&__wrapper {
		align-self: center;
		animation: modal 200ms;
		background: #37003c;
		border: .0625rem solid #fff;
		color: #fff;
		max-width: 430px;
		opacity: 1;
		position: absolute;
		transform: scale(1);
		width: 90%;
		z-index: 3;
	}
	&__bg {
		background: rgba(0,0,0,0.6);
		animation: bg-fade 200ms;
		height: 100%;
		width: 100%;
		opacity: 1;
		z-index: 2;
		transition: background 300ms,transform 300ms,border-color 300ms,
	}
	&__header {
		background: #fff;
		color: #37003c;
		padding: .65rem .75rem;
	}
	&__btn {
		background: #00e187;
		border: 0;
		box-sizing: border-box;
		cursor: pointer;
		display: block;
		height: 1.875rem;
		right: .75rem;
		outline: none;
		position: absolute;
		top: .55rem;
		width: 1.875rem;
	}
	&__btn-txt {
		display: inline-block;
		text-indent: -999rem;
	}
	&__btn-icon {
		fill: #fff;
		height: 1rem;
		left: calc(50% - .5rem);
		position: absolute;
		top: calc(50% - .5rem);
		width: 1rem;
	}
	&__heading {
		margin: 0;
		padding-right: 2.5rem;
	}
	h1 {
		font-size: 1.4rem;
		font-weight: 600;
	}
	&__content {
		padding: 0rem .75rem;
	}
	&__details {
		margin: 0 -.75rem;
		width: calc(100% + 1.5rem)
	}
	.align_1 {
		text-align: left;
	}
	.strong {
		font-weight: 600;
	}
	&__details-col1 {
		padding: .5rem .75rem;
	}
	&__row {
		border-top: 1px solid #5f3363;
	}
	.capitalise {
		text-transform: capitalize;
	}
	&__details-col1_offset {
		padding-left: .42rem;
	}
	.align_c {
		text-align: center;

	}
	&__col {
		width: 21%;
		
	}
}

p { 
	margin: 0;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

span.total_points {
	position: absolute;
	top: 1rem;
	right: 1rem;
	text-align: center;
}
span.total_points>b {
	font-size: 6vmin;
	font-style: italic;
}

span.capt {
	position: relative;
	right: -1.2rem;
	bottom: -2rem;
	padding: 2px 5px;
	background: #37003c;
	border-radius: 100%;
	font-size: .68rem;
	border: 1px solid white;

}

@media screen and (min-height: 300px) and (min-width: 500px) {
	.player {
		// width: 100px;
		font-size: 3vmin;
	}
	.points {
		// width: 100px;
		font-size: 5vmin;
	}
	.image {
		height: 3.2rem;
		width: 3.2rem;
	}
	span.capt {
		font-size: 2vmin;
	}
}

@media (prefers-color-scheme: dark) {
    html {
        background: #1f1f1f;
    }
}
